@model IEnumerable<sp2023_mis421_mockinterviews.Models.MockInterviewDb.Event>

@{
    ViewData["Title"] = "Index";
}

<h1>Event Dates</h1>

<p>
    <a asp-controller="EventDates" asp-action="Create">Create New Event</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th></th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.For221)
            </th>
            <th>
                Active?
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td style="color: white;">
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.For221)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsActive)
                </td>
                <td>
                    <a asp-controller="EventDates" asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    @* <a asp-controller="EventDates" asp-action="Details" asp-route-id="@item.Id">Details</a> |*@
                    <a asp-controller="EventDates" asp-action="Delete" asp-route-id="@item.Id">Cancel</a>
                </td>
            </tr>
        }
    </tbody>
</table>