@using sp2023_mis421_mockinterviews.Data.Constants
@model IEnumerable<sp2023_mis421_mockinterviews.Models.MockInterviewDb.InterviewerSignup>

@{
    ViewData["Title"] = "Index";
}

<h1>Interviewers Signed Up</h1>
<div id="center-everything">
    <p>
        <a class="btn btn-primary" asp-controller="SignupInterviewerTimeslots" asp-action="CreateForInterviewer">Manually Signup Interviewer</a>
        <a asp-area="" asp-controller="Home" asp-action="EmailInterviewers"> | Send Interviewers Email Reminder</a>
    </p>
</div>
<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>In Person?</th>
            <th>Checked In?</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) 
{
        <tr>
            <td>@item.FirstName @item.LastName</td>
            @if(item.InPerson)
            {
                <td>@InterviewLocationConstants.InPerson</td>
            }
            else
            {
                <td>@InterviewLocationConstants.IsVirtual</td>
            }
            @if(item.CheckedIn)
            {
                <td style="color:green; font-weight:bold;">Yes</td>
            }
            else
            {
                <td style="color:red;">No</td>
            }
            <td>
                <a asp-controller="SignupInterviewerTimeslots" asp-action="Edit" asp-route-id="@item.Id">Reschedule</a> |
                <a asp-action="" asp-route-id="@item.Id">Details</a> | 
                <a asp-controller="SignupInterviewerTimeslots" asp-action="UserDeleteRange" asp-route-id="@item.Id">Delete</a>
            </td>
            @if(!item.CheckedIn)
            {
                <td>
                    <a class="btn btn-primary" asp-action="CheckInInterviewer" asp-route-id="@item.Id">Check In</a>
                </td>
            }
            else
            {
                <td>
                    <a class="btn btn-secondary" asp-action="CheckInInterviewer" asp-route-id="@item.Id">Check Out</a>
                </td>
            }
        </tr>
}
    </tbody>
</table>
