@model IEnumerable<sp2023_mis421_mockinterviews.Models.MockInterviewDb.SignupInterviewer>

@{
    ViewData["Title"] = "Index";
}

<h1>Interviewers Signed Up</h1>
<p> 
    <a asp-controller="SignupInterviewerTimeslots" asp-action="CreateForInterviewer">Manually Signup Interviewer</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>In Person?</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) 
{
        <tr>
            <td>@item.FirstName @item.LastName</td>
            <td>@item.InPerson</td>
            <td>
                <a asp-controller="SignupInterviewerTimeslots" asp-action="Edit" asp-route-id="@item.Id">Edit Availability</a> |
                <a asp-action="" asp-route-id="@item.Id">Details</a> |
                <a asp-action="" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
