@model sp2023_mis421_mockinterviews.Models.ViewModels.SignupInterviewerTimeslotsViewModel

@{
    ViewData["Title"] = "Create";
}

<h1>Sign Up to Interview</h1>
<hr />
<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <label asp-for="SignupInterviewer.InPerson" class="control-label">How would you like to interview?</label>
            <br />
            <div class="form-check form-check-inline">
                <input id="InPersonTrue" class="form-check-input" type="radio" name="SignupInterviewer.InPerson" value="true" data-val="true" data-val-required="Please select an option">
                <label class="form-check-label" for="InPersonTrue">In Person</label>
            </div>
            <div class="form-check form-check-inline">
                <input id="InPersonFalse" class="form-check-input" type="radio" name="SignupInterviewer.InPerson" value="false" data-val="true" data-val-required="Please select an option">
                <label class="form-check-label" for="InPersonFalse">Virtual</label>
            </div>
            <span asp-validation-for="SignupInterviewer.InPerson" class="text-danger"></span>
            <br /><br />
                <label class="control-label">Are you a technical interviewer, behavioral interviewer, or both?</label>
           <br />
            <div class="form-check form-check-inline">
                <input id="IsTechnical" class="form-check-input" type="checkbox" name="SignupInterviewer.IsTechnical" value="true" data-val="true" data-val-required="Please select at least one">
                <label for="IsTechnical" class="form-check-label">Technical Interviews</label>
            </div>
            <br />
            <div class="form-check form-check-inline">
                <input id="IsBehavioral" class="form-check-input" type="checkbox" name="SignupInterviewer.IsBehavioral" value="true" data-val="true" data-val-required="Please select at least one">
                <label for="IsBehavioral" class="form-check-label">Behavioral Interviews</label>
            </div>
            <span asp-validation-for="SignupInterviewer.IsTechnical" class="text-danger"></span>
            <span asp-validation-for="SignupInterviewer.IsBehavioral" class="text-danger"></span>
            <br /><br />
            <div class="row">
                <div class="col-md-6">
                    <h3>Day @Model.Timeslots[0].EventDateId</h3>
                    <h4 class="date-column">@Model.Timeslots[0].EventDate.Date</h4>
                    @foreach (var timeslot in Model.Timeslots)
                    {
                        if (timeslot.EventDateId == Model.Timeslots[0].EventDateId)
                        {
                            <div>
                                <input type="checkbox" id="@timeslot.Id" name="SelectedEventIds" value="@timeslot.Id" data-val="true" data-val-required="Please select at least one timeslot">
                                <input type="hidden" name="Timeslots[@timeslot.Id]" value="@timeslot.Id">
                                <label class="time-column" for="@timeslot.Id">@timeslot.Time</label>
                            </div>
                        }
                    }
                </div>
                <div class="col-md-6">
                    <h3>Day @Model.Timeslots[^1].EventDateId</h3>
                    <h4 class="date-column">@Model.Timeslots[^1].EventDate.Date</h4>
                    @foreach (var timeslot in Model.Timeslots)
                    {
                        if (timeslot.EventDateId == Model.Timeslots[^1].EventDateId)
                        {
                            <div>
                                <input type="checkbox" id="@timeslot.Id" name="SelectedEventIds" value="@timeslot.Id" data-val="true" data-val-required="Please select at least one timeslot">
                                <input type="hidden" name="Timeslots[@timeslot.Id]" value="@timeslot.Id">
                                <label class="time-column" for="@timeslot.Id">@timeslot.Time</label>
                            </div>
                        }
                    }
                </div>
            </div>
            <span asp-validation-for="SelectedEventIds" class="text-danger"></span>
            <div class="form-group">
                <input type="submit" value="Sign Up" class="btn btn-primary" />
            </div>
        </form>
    </div>
    <div class="col-md-3"></div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
