@model IEnumerable<sp2023_mis421_mockinterviews.Models.MockInterviewDb.SignupInterviewerTimeslot>

@{
    ViewData["Title"] = "Index";
}

<h1>Interviewers</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Behavioral/Technical
            </th>
            <th>
                In-Person/Virtual
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Timeslot.EventDate.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Timeslot.Time)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                    @Html.DisplayFor(modelItem => item.SignupInterviewer.FirstName) @Html.DisplayFor(modelItem => item.SignupInterviewer.LastName)
            </td>
                @if(item.SignupInterviewer.IsBehavioral && item.SignupInterviewer.IsTechnical)
                {
                    <td>Behavioral, Technical</td>       
                } 
                else if(item.SignupInterviewer.IsBehavioral && !item.SignupInterviewer.IsTechnical) 
                {
                    <td>Behavioral</td>
                }
                else if (!item.SignupInterviewer.IsBehavioral && item.SignupInterviewer.IsTechnical)
                {
                    <td>Technical</td>
                }
                @if(item.SignupInterviewer.IsVirtual)
                {
                    <td>Virtual</td>
                } 
                else if(item.SignupInterviewer.InPerson)
                {
                    <td>In Person</td>
                }
            <td>
                @Html.DisplayFor(modelItem => item.Timeslot.EventDate.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Timeslot.Time)
            </td>
            <td>
@*                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
*@                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
