@model sp2023_mis421_mockinterviews.Models.ViewModels.LunchReportViewModel

@{
    ViewData["Title"] = "LunchReport";
}

<h1>Lunch Report</h1>
<hr />
@if(Model.AnyLunches)
{
    <div>
        <h3>
            Lunches needed for @Model.Day1Name: @Model.Day1TotalLunchCount
        </h3>
        @if (Model.Day2TotalLunchCount != null && Model.Day2Name != null)
        {
            <h3>
                Lunches needed for @Model.Day2Name: @Model.Day2TotalLunchCount
            </h3>
        }
    </div>

    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.LunchReports[0].Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.LunchReports[0].LunchDesire)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.LunchReports[0].ForDate)
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.LunchReports)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LunchDesire)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ForDate)
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <div>
        <p>
            No interviewers have signed up.
        </p>
    </div>
}

