@page
@using sp2023_mis421_mockinterviews.Data.Constants
@model IndexModel
@{
    ViewData["Title"] = "Profile";
    ViewData["ActivePage"] = ManageNavPages.Index;
}

<h3>@Model.Input.FirstName @Model.Input.LastName</h3>

<div class="row">
    <div class="col-md-6">
        <label>Phone number:</label>
        @if(Model.Input.PhoneNumber != null)
        {
            <span>@Model.Input.PhoneNumber</span>
        }
        else
        {
            <span>No phone number specified</span>
        }
        <div>
        </div>

        @if (User.IsInRole(RolesConstants.StudentRole))
        {
            <div>
                <label>Class:</label>
                @if(Model.Input.Class != null)
                {
                    <span>@Model.Input.Class</span>
                }
                else
                {
                    <span>No class specified</span>
                }
            </div>
            <div>
                <label>Resume:</label>
                @if (Model.Input.Resume != null)
                {
                    <a href="@Url.Action("DownloadResume", "Users", new { userId = Model.Id })" class="btn btn-primary">Download Resume</a>
                }
                else
                {
                    <span>No resume uploaded</span>
                }
            </div>
        }

        <div>
            <label>Profile picture:</label>
            @if (Model.Input.ProfilePicture != null)
            {
                <img src="data:image/*;base64,@(Convert.ToBase64String(Model.Input.ProfilePicture))" style="width: 350px; height: 350px; object-fit: cover" />
            }
            else
            {
                <span>No profile picture uploaded</span>
            }
        </div>
    </div>
</div>

