@page
@using sp2023_mis421_mockinterviews.Data.Constants
@model IndexModel
@{
    ViewData["Title"] = "Profile";
    ViewData["ActivePage"] = ManageNavPages.Index;
}

<h3>@Model.Input.FirstName @Model.Input.LastName</h3>

<div class="row">
    <div class="col-md-6" >
        <div style="padding-bottom: 15px;">
            <label>Phone number:</label>
            @if(Model.Input.PhoneNumber != null)
            {
                <span>@Model.Input.PhoneNumber</span>
            }
            else
            {
                <span>No phone number specified</span>
            }
        </div>
        <div>
        </div>

        @if (User.IsInRole(RolesConstants.StudentRole))
        {
            <div style="padding-bottom: 15px;">
                <label>Class:</label>
                @if(Model.Input.Class != 0)
                {
                    <span>@ClassConstants.GetClassText(Model.Input.Class)</span>
                }
                else
                {
                    <span>No class specified</span>
                }
            </div>
            <div style="padding-bottom: 15px;">
                <label>Resume:</label>
                @if (Model.Input.Resume != null)
                {
                    <a href="@Url.Action("DownloadResume", "Users", new { userId = Model.Id })">Download Resume</a>
                }
                else
                {
                    <span>No resume uploaded</span>
                }
            </div>
        }
        @if(User.IsInRole(RolesConstants.InterviewerRole))
        {
            <div style="padding-bottom: 15px;">
                <label>Company:</label>
                @if (Model.Input.Company != null)
                {
                    <span>@Model.Input.Company</span>
                }
                else
                {
                    <span>No company specified</span>
                }
            </div>
        }

        <div style="padding-bottom: 15px;">
            <label>Profile Picture:</label>
            <br />
            @if (Model.Input.ProfilePicture != null)
            {
                <img src="data:image/*;base64,@(Convert.ToBase64String(Model.Input.ProfilePicture))" style="width: 350px; height: 350px; object-fit: cover" />
            }
            else
            {
                <span>No profile picture uploaded</span>
            }
        </div>
    </div>
</div>

