@model sp2023_mis421_mockinterviews.Models.ViewModels.LocationInterviewerCreateViewModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Update</h1>

<h4>Interviewer Location</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="LocationInterviewer.Id" />
            <div class="form-group">
                <label asp-for="@Model.LocationInterviewer.InterviewerId" class="control-label">Interviewer</label>
                <select asp-for="@Model.LocationInterviewer.InterviewerId" class="form-control" asp-items="@Model.InterviewerNames"></select>
            </div>
            <div class="form-group">
                <label asp-for="@Model.LocationInterviewer.LocationId" class="control-label">Location</label>
                <select asp-for="@Model.LocationInterviewer.LocationId" class="form-control" asp-items="@Model.Locations"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Update" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
