@model IEnumerable<sp2023_mis421_mockinterviews.Models.ViewModels.InterviewEventViewModel>

<div class="section-card">
    <h3 style="margin: 1rem; justify-content: center;"><span class="icon">📅</span>Student Schedule</h3>
    @if (Model.Count() > 0)
    {
        <table class="table">
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Time</th>
                    <th>Interview Type</th>
                    <th>Checked In</th>
                    <th>Location</th>
                    <th>Interviewer</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var interviewEventViewModel in Model)
                {
                    <tr>
                        <td class="date-column">@interviewEventViewModel.InterviewEvent.Timeslot.Event.Date</td>
                        <td class="time-column">@interviewEventViewModel.InterviewEvent.Timeslot.Time</td>
                        <td>@interviewEventViewModel.InterviewEvent.Type</td>
                        <td>@interviewEventViewModel.InterviewEvent.Status</td>
                        @if (interviewEventViewModel.InterviewEvent.Location == null)
                        {
                            <td class="empty-state">Not Assigned</td>
                        }
                        else
                        {
                            <td>@interviewEventViewModel.InterviewEvent.Location.Room</td>
                        }
                        @if (interviewEventViewModel.InterviewEvent.InterviewerTimeslot == null)
                        {
                            <td class="empty-state">Not Assigned</td>
                        }
                        else
                        {
                            <td>@interviewEventViewModel.InterviewerName</td>
                        }

                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <p class="empty-state" style="text-align: center;">No upcoming events</p>
    }
    <br />
</div>