@using sp2023_mis421_mockinterviews.Data;
@using sp2023_mis421_mockinterviews.Data.Constants;
<!DOCTYPE html>
<html lang="en-us">

<head>
    <meta charset="utf-8">
    <title>@ViewData["Title"] - UA MIS Mock Interviews</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=5">
    <meta name="description" content="This is meta description">
    <meta name="author" content="Themefisher">
@*    <link rel="shortcut icon" href="images/ScriptA.png" type="image/x-icon">
*@    <link rel="icon" href="images/ScriptA.png?v=1" type="image/x-icon">

    <!-- Data Tables -->
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.2/css/jquery.dataTables.min.css" integrity="sha384-nlqJt7hgTYzEtpwtccFUVNZPXLN4pJoZ/QIfCtAIK9txm0dVyw/lz/47SslwYLPj" crossorigin="anonymous">
    
    <!-- theme meta -->
    <meta name="theme-name" content="wallet" />

    <!-- # Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap" rel="stylesheet">

    <!-- # CSS Plugins -->
    <link rel="stylesheet" href="~/plugins/slick/slick.css">
    <link rel="stylesheet" href="~/plugins/font-awesome/fontawesome.min.css">
    <link rel="stylesheet" href="~/plugins/font-awesome/brands.css">
    <link rel="stylesheet" href="~/plugins/font-awesome/solid.css">

    <!-- # Main Style Sheet -->
    <link rel="stylesheet" href="~/css/style.css">

@*    <input type="hidden" id="userRoleGet" value="@(User.IsInRole(RolesConstants.StudentRole) ? "StudentRole" :
                                             User.IsInRole(RolesConstants.InterviewerRole) ? "InterviewerRole" :
                                             User.IsInRole(RolesConstants.AdminRole) ? "AdminRole" : "Other")" />*@

    <script>
        function adjustPadding(isLoggedIn) {
            const loginContainer = document.getElementById('loginContainer');

            if (isLoggedIn) {
                loginContainer.style.paddingLeft = '0px';
            } else {
                loginContainer.style.paddingLeft = '120px';
            }
        }

        //function adjustPaddingTwo() {
        //    const navbarSupportedContent = document.getElementById('navbarSupportedContent');
        //    const userRoleCheck = document.getElementById('userRoleGet').value;
        //    console.log('here');

        //    switch (userRoleCheck) {
        //        case 'StudentRole':
        //            navbarSupportedContent.style.paddingLeft = '100px';
        //            break;
        //        case 'InterviewerRole':
        //            navbarSupportedContent.style.paddingLeft = '100px';
        //            break;
        //        case 'AdminRole':
        //            navbarSupportedContent.style.paddingLeft = '0px';
        //            console.log('adminhere');
        //            break;
        //        default:
        //            navbarSupportedContent.style.paddingLeft = '0px';
        //            break;
        //    }
        //}

        function adjustPaddingTwo(isLoggedIn) {
            //Bad name, but this refers to the navbar items and the other one is for the log in items; will refactor later
            const navbarSupportedContent = document.getElementById('navbarSupportedContent');

            if (isLoggedIn) {
                navbarSupportedContent.style.paddingLeft = '100px';
            } else {
                navbarSupportedContent.style.paddingLeft = '0px';
            }
        }

        window.onload = function () {
            //adjustPaddingTwo();
            adjustPadding(@(User.Identity.IsAuthenticated.ToString().ToLower()));
            adjustPaddingTwo(@(User.Identity.IsAuthenticated.ToString().ToLower()));
        };
    </script>
</head>

<body>

    <!-- navigation -->
    <header class="navigation bg-tertiary">
        <nav class="navbar navbar-expand-xl navbar-light text-center py-3">
            <div class="container">
                <div class="col-md-2">
                    <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                        <img loading="preload" decoding="async" class="img-fluid" width="160" src="~/images/UAMISLogo.png" alt="UA MIS Mock Interviews">
                    </a>
                </div>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mx-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        @if (User.IsInRole(RolesConstants.StudentRole) || User.IsInRole(RolesConstants.InterviewerRole))
                        {
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">Sign-Up</a>
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdown" id="center-everything">
                                    @if(User.IsInRole(RolesConstants.StudentRole))
                                    {
                                        <li>
                                            <a class="dropdown-item " asp-area="" asp-controller="InterviewEvents" asp-action="Create">Students</a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item " asp-area="" asp-controller="VolunteerEvents" asp-action="Create">Volunteers</a>
                                        </li>
                                    }
                                    @if (User.IsInRole(RolesConstants.InterviewerRole))
                                    {
                                        <li>
                                            <a class="dropdown-item " asp-area="" asp-controller="SignupInterviewerTimeslots" asp-action="Create">Interviewers</a>
                                        </li>
                                    }
                                </ul>
                            </li>
                        }
                        @*@if (User.IsInRole(RolesConstants.InterviewerRole))
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="SignupInterviewerTimeslots" asp-action="Create">Interviewer Sign-Up</a>
                            </li>
                        }*@

                        @if(User.IsInRole(RolesConstants.AdminRole))
                        {
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">Assign</a>
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdown" id="center-everything">
                                    <li>
                                        <a class="dropdown-item " asp-area="" asp-controller="InterviewEvents" asp-action="Index">Assign Interviews</a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item " asp-area="" asp-controller="LocationInterviewers" asp-action="Index">Assign Rooms</a>
                                    </li>
                                </ul>
                            </li>
                        }

                        

                        @if (User.IsInRole(RolesConstants.AdminRole))
                        {
                            <li class="nav-item dropdown"> 
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">Event</a>
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdown" id="center-everything">
                                     <li>
                                         <a class="dropdown-item "asp-area="" asp-controller="SignupInterviewerTimeslots" asp-action="Index">Interviewers</a>
                                     </li>
                                    <li>
                                        <a class="dropdown-item " asp-area="" asp-controller="VolunteerEvents" asp-action="Index">Volunteers</a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item " asp-area="" asp-controller="Locations" asp-action="Index">Add Rooms</a>
                                    </li>
                                     <li>
                                         <a class="dropdown-item "asp-area="" asp-controller="Timeslots" asp-action="Index">Timeslots</a>
                                     </li>
                                    <li>
                                        <a class="dropdown-item " asp-area="" asp-controller="EventDates" asp-action="Index">Dates</a>
                                    </li>
                                    
                                </ul>
                            </li>
                        }

                        @if (User.IsInRole(RolesConstants.AdminRole) || User.IsInRole(RolesConstants.StudentRole))
                        {
                            @if (User.IsInRole(RolesConstants.AdminRole))
                            {
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">Feedback</a>
                                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown" id="center-everything">
                                        <li>
                                            <a class="dropdown-item " asp-area="" asp-controller="InterviewEvents" asp-action="FeedbackIndex">Feedback Portal</a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item " asp-area="" asp-controller="InterviewEvents" asp-action="AssessFeedback">Assess Feedback</a>
                                        </li>
                                    </ul>
                                </li>
                            }
                            else
                            {
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="InterviewEvents" asp-action="FeedbackIndex">Feedback Portal</a>
                                </li>
                            }
                        }

                        @if (User.IsInRole(RolesConstants.AdminRole))
                        {
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">Roster</a>
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdown" id="center-everything">
                                    <li>
                                        <a class="dropdown-item " asp-area="" asp-controller="MSTeamsStudentUploads" asp-action="Index">Program Roster</a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item " asp-area="" asp-controller="UserRoles" asp-action="Index">User Roles/Deletion</a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item " asp-area="" asp-controller="UserRoles" asp-action="MassAssign">Add Interviewer Roles</a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item " asp-area="" asp-controller="UserRoles" asp-action="MassAssignAdmin">Add Admin Roles</a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item " asp-area="" asp-controller="MSTeamsStudentUploads" asp-action="Create">Program Roster Upload</a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item " asp-area="" asp-controller="MSTeamsStudentUploads" asp-action="UploadMastersStudents">MSMIS Roster Upload</a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item " asp-area="" asp-controller="MSTeamsStudentUploads" asp-action="Upload221Students">MIS 221 Roster Upload</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">Reports</a>
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdown" id="center-everything">
                                    <li>
                                        <a class="dropdown-item " asp-area="" asp-controller="EventDates" asp-action="EventStatistics">Event Statistics</a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item " asp-area="" asp-controller="Timeslots" asp-action="AllocationReport">Allocation Report</a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item " asp-area="" asp-controller="Timeslots" asp-action="SignupReport">Timeslots Report</a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item " asp-area="" asp-controller="SignupInterviewerTimeslots" asp-action="LunchReport">Lunch Report</a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" asp-area="" asp-controller="InterviewEvents" asp-action="AttendanceReport">Attendance Report</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">Resources</a>
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdown" id="center-everything">
                                    <li>
                                        <a class="dropdown-item " asp-area="" asp-controller="FAQs" asp-action="Resources">Resources</a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item " asp-area="" asp-controller="FAQs" asp-action="Index">Answer FAQs</a>
                                    </li>
                                </ul>
                            </li>
                        }
                        else
                        {
                            <li class="nav-item ">
                                <a class="nav-link" asp-area="" asp-controller="FAQs" asp-action="Resources">Resources</a>
                            </li>
                        }

                    </ul>
                </div>
                <div id="loginContainer">
                  <partial name="_LoginPartial"/>
                </div>
            </div>
        </nav>
    </header>
    <!-- /navigation -->

    <div class="container" style="padding-top: 20px; padding-bottom: 20px;">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="section-sm bg-tertiary" id="footer-time">
        <div class="container">
            <div class="row align-items-center mt-5 text-center text-md-start">
                <div class="col-lg-4">
                    <a asp-area="" asp-controller="Home" asp-action="Index">
                        <img loading="preload" decoding="async" class="img-fluid" width="160" src="~/images/UAMISLogo.png" alt="UA MIS Mock Interviews">
                    </a>
                </div>
                <div class="col-lg-4 col-md-6 mt-4 mt-lg-0">
                    <ul class="list-unstyled list-inline mb-0 text-lg-center">
                        <li class="list-inline-item me-8" style="padding-left: 10px; padding-right: 10px;">
                            <a class="text-black" href="@Url.Action("Privacy", "Home")">Privacy Policy</a>
                        </li>
                        <li class="list-inline-item me-8" style="padding-left: 10px; padding-right: 10px;">
                            <a class="text-black" asp-area="Identity" asp-page="/Account/Login">Admin Login</a>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-4 col-md-6 text-md-end mt-4 mt-md-0">
                    <p style="padding-top: 17px;">© 2023 - UA MIS Mock Interviews</p>
                </div>
            </div>
        </div>
    </footer>


    <!-- # JS Plugins -->
    <script src="~/plugins/jquery/jquery.min.js"></script>
    <script src="~/plugins/bootstrap/bootstrap.min.js"></script>
    <script src="~/plugins/slick/slick.min.js"></script>
    <script src="~/plugins/scrollmenu/scrollmenu.min.js"></script>

    <!-- Main Script -->
    <script src="~/js/script.js"></script>

    <!-- Data Tables -->
    <script src="https://cdn.datatables.net/1.13.3/js/jquery.dataTables.js" integrity="sha384-apERv/vfl/R6zmx+HUeBeGTjYRpHuiF1JRYCuBd9KhRME4NTtll1FkO+CelUWYgp" crossorigin="anonymous"></script>
@*    <script src="~/js/site.js" asp-append-version="true"></script>
*@    
    <script type="text/javascript">
        //Add datatables formatting to all tables
        $(document).ready(function () {
            $('.table').DataTable();
        });
    </script>

    <script>
        // Format date column
        const dateElements = document.querySelectorAll('.date-column');
        dateElements.forEach(element => {
            const date = new Date(element.textContent);
            const formattedDate = date.toLocaleDateString();
            element.textContent = formattedDate;
        });

        // Format time column
        const timeElements = document.querySelectorAll('.time-column');
        timeElements.forEach(element => {
            const date = new Date(element.textContent);
            const formattedTime = date.toLocaleTimeString([], { hour: 'numeric', minute: '2-digit' });
            element.textContent = formattedTime;
        });
    </script>
    

    @await RenderSectionAsync("Scripts", required: false)

</body>
</html>
