@model sp2023_mis421_mockinterviews.Models.ViewModels.IndexViewModel

<h3>Assigned Interviews</h3>
@if (Model.InterviewerScheduledInterviews.Count() > 0)
{
    <table class="table">
        <thead>
            <tr>
                <th>Student</th>
                <th>Interview Type</th>
                <th>Timer</th>
                <th>Update Status</th>
                <th>View Profile</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var interviewEventViewModel in Model.InterviewerScheduledInterviews)
            {
                <tr>
                    @if (interviewEventViewModel.InterviewEvent.SignupInterviewerTimeslot == null)
                    {
                        <td>Not Assigned</td>
                    }
                    else
                    {
                        <td>@interviewEventViewModel.StudentName</td>
                    }
                    <td>@interviewEventViewModel.InterviewEvent.InterviewType</td>
                    <td id="timer-@interviewEventViewModel.InterviewEvent.Id">@interviewEventViewModel.InterviewEvent.StartTime</td>
                    <td>
@*                        <a asp-action="Edit" asp-route-id="@interviewEventViewModel.InterviewEvent.Id" asp-controller="InterviewEvents">Update</a>
*@                        <a 
                            id="canBeRemoved-@interviewEventViewModel.InterviewEvent.Id" 
                            asp-action="StudentComplete" 
                            asp-route-id="@interviewEventViewModel.InterviewEvent.Id" 
                            asp-controller="InterviewEvents">I'm Done</a>
                    </td>
                    <td>
                        <a asp-controller="Users" asp-action="ExternalUserProfileView" asp-route-userId="@interviewEventViewModel.InterviewEvent.StudentId">View @interviewEventViewModel.StudentName's Profile</a>
                    </td>

                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>No upcoming events</p>
}
<hr />
<h3>Interviewer Schedule</h3>
@if (Model.InterviewerRangeViewModels.Count() > 0)
{
    <div id="center-everything">
        <h4>Day 1</h4>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>Date</th>
                <th>Time</th>
                <th>Location</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var signupInterviewerTimeslot in Model.InterviewerRangeViewModels)
            {
                if (signupInterviewerTimeslot.SignupInterviewerId == Model.SignupInterviewerId1)
                {
                    <tr>
                        <td class="date-column">@signupInterviewerTimeslot.Date</td>
                        <td>@signupInterviewerTimeslot.StartTime - @signupInterviewerTimeslot.EndTime</td>
                        <td>@signupInterviewerTimeslot.Location</td>
                    </tr>
                }
            }
        </tbody>
    </table>
    <div id="center-everything">
        <a class="btn btn-primary" asp-controller="SignupInterviewerTimeslots" asp-action="Edit" asp-route-id="@Model.SignupInterviewerId1">Edit</a> | 
        <a class="btn btn-secondary" asp-controller="SignupInterviewerTimeslots" asp-action="UserDeleteRange" asp-route-id="@Model.SignupInterviewerId1">Cancel</a>
    </div>

    if(Model.SignupInterviewerId2 != null)
    {
        <br /><br />
        <div id="center-everything">
            <h4>Day 2</h4>
        </div>
        <table class="table">
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Time</th>
                    <th>Location</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var signupInterviewerTimeslot in Model.InterviewerRangeViewModels)
                {
                    if (signupInterviewerTimeslot.SignupInterviewerId == Model.SignupInterviewerId2)
                    {
                        <tr>
                            <td class="date-column">@signupInterviewerTimeslot.Date</td>
                            <td>@signupInterviewerTimeslot.StartTime - @signupInterviewerTimeslot.EndTime</td>
                            <td>@signupInterviewerTimeslot.Location</td>
                        </tr>
                    }
                }
            </tbody>
        </table>
        <div id="center-everything">
            <a class="btn btn-primary" asp-controller="SignupInterviewerTimeslots" asp-action="Edit" asp-route-id="@Model.SignupInterviewerId2">Edit</a> |
            <a class="btn btn-secondary" asp-controller="SignupInterviewerTimeslots" asp-action="UserDeleteRange" asp-route-id="@Model.SignupInterviewerId2">Cancel</a>
        </div>
    }
}
else
{
    <p>No upcoming events</p>
}
<hr />
<h3>Completed Interviews</h3>
@if (Model.CompletedInterviews.Count() > 0)
{
    <table class="table">
        <thead>
            <tr>
                <th>Date</th>
                <th>Time</th>
                <th>Student</th>
                <th>Interview Type</th>
                <th>View Profile</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var interviewEventViewModel in Model.CompletedInterviews)
            {
                <tr>
                    <td class="date-column">@interviewEventViewModel.InterviewEvent.Timeslot.EventDate.Date</td>
                    <td class="time-column">@interviewEventViewModel.InterviewEvent.Timeslot.Time</td>
                    @if (interviewEventViewModel.InterviewEvent.SignupInterviewerTimeslot == null)
                    {
                        <td>Not Assigned</td>
                    }
                    else
                    {
                        <td>@interviewEventViewModel.StudentName</td>
                    }
                    <td>@interviewEventViewModel.InterviewEvent.InterviewType</td>
                    <td>
                        <a asp-controller="Users" asp-action="ExternalUserProfileView" asp-route-userId="@interviewEventViewModel.InterviewEvent.StudentId">View @interviewEventViewModel.StudentName's Profile</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>No completed interviews</p>
}
<hr />

