@model sp2023_mis421_mockinterviews.Models.ViewModels.IndexViewModel

<h3>Assigned Interviews</h3>
@if (Model.InterviewerScheduledInterviews.Count() > 0)
{
    <table class="table">
        <thead>
            <tr>
                <th>Date</th>
                <th>Time</th>
                <th>Location</th>
                <th>Student</th>
                <th>Interview Type</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var interviewEventViewModel in Model.InterviewerScheduledInterviews)
            {
                <tr>
                    <td>@interviewEventViewModel.InterviewEvent.Timeslot.EventDate.Date</td>
                    <td>@interviewEventViewModel.InterviewEvent.Timeslot.Time</td>
                    @if (interviewEventViewModel.InterviewEvent.Location == null)
                    {
                        <td>Not Assigned</td>
                    }
                    else
                    {
                        <td>@interviewEventViewModel.InterviewEvent.Location.Room</td>
                    }
                    @if (interviewEventViewModel.InterviewEvent.SignupInterviewerTimeslot == null)
                    {
                        <td>Not Assigned</td>
                    }
                    else
                    {
                        <td>@interviewEventViewModel.StudentName</td>
                    }
                    <td>@interviewEventViewModel.InterviewEvent.InterviewType</td>
                    <td>
                        <a asp-controller="Users" asp-action="ExternalUserProfileView" asp-route-userId="@interviewEventViewModel.InterviewEvent.StudentId">View Student Profile</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>No upcoming events</p>
}
<hr />
<h3>Interviewer Schedule</h3>
@if (Model.InterviewerRangeViewModels.Count() > 0)
{
    <table class="table">
        <thead>
            <tr>
                <th>Date</th>
                <th>Time</th>
                <th>Location</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var signupInterviewerTimeslot in Model.InterviewerRangeViewModels)
            {
                <tr>
                    <td class="date-column">@signupInterviewerTimeslot.Date</td>
                    <td>@signupInterviewerTimeslot.StartTime - @signupInterviewerTimeslot.EndTime</td>
                    <td>@signupInterviewerTimeslot.Location</td>
                    <td>
                        @Html.ActionLink("Cancel",
                            "UserDeleteRange",   // <-- ActionMethod
                            "SignupInterviewerTimeslots",  // <-- Controller Name.
                            new { timeslots = signupInterviewerTimeslot.TimeslotIds.ToArray() }, // <-- Route arguments.
                            null
                            )
                    </td>   
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>No upcoming events</p>
}
