@using sp2023_mis421_mockinterviews.Data;
@model sp2023_mis421_mockinterviews.Models.ViewModels.VolunteerEventsViewModel;

@{
    ViewData["Title"] = "Create";
}

<h1>Sign up to Volunteer!</h1>

@*<h4>VolunteerEvent</h4>
*@<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <h3>Day @Model.Timeslots[0].EventDateId</h3>
            <h4>@Model.Timeslots[0].EventDate.Date</h4>
            @foreach(var timeslot in Model.Timeslots)
            {
                if (timeslot.EventDateId == Model.Timeslots[0].EventDateId)
                {
                    <div>
                        <input type="checkbox" id="@timeslot.Id" name="SelectedEventIds" value="@timeslot.Id">
                        <input type="hidden" name="Timeslots[@timeslot.Id]" value="@timeslot.Id">
                        <label for="@timeslot.Id">@timeslot.Time</label>
                    </div>
                }
            }
            <h3>Day @Model.Timeslots[^1].EventDateId</h3>
            <h4>@Model.Timeslots[^1].EventDate.Date</h4>
            @foreach (var timeslot in Model.Timeslots)
            {
                if (timeslot.EventDateId == Model.Timeslots[^1].EventDateId)
                {
                    <div>
                        <input type="checkbox" id="@timeslot.Id" name="SelectedEventIds" value="@timeslot.Id">
                        <input type="hidden" name="Timeslots[@timeslot.Id]" value="@timeslot.Id">
                        <label for="@timeslot.Id">@timeslot.Time</label>
                    </div>
                }
            }

            <div class="form-group">
                <input type="submit" value="Sign Up!" class="btn btn-danger" />
            </div>
        </form>
    </div>
</div>

@if(User.IsInRole(RolesConstants.AdminRole))
{
    <div>
        <a asp-action="Index">Back to List</a>
    </div>
}


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
