@using sp2023_mis421_mockinterviews.Data;
@using sp2023_mis421_mockinterviews.Data.Constants;
@model sp2023_mis421_mockinterviews.Models.ViewModels.VolunteerEventSignupViewModel;

@{
    ViewData["Title"] = "Create";
}

<h1>Sign up to Volunteer!</h1>

<hr />
<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        @if(!Model.SignedUp)
        {
            <div class="row">
                <div class="col-md-6">
                    <button type="button" class="selectAllButton btn btn-primary" data-target="SelectedEventIds1">Select Day @Model.Timeslots[0].EventDateId</button>
                </div>
                <br />
                @if (Model.Timeslots[0].EventDateId != Model.Timeslots[^1].EventDateId)
                {
                    <div class="col-md-6">
                        <button type="button" class="selectAllButton btn btn-primary" data-target="SelectedEventIds2">Select Day @Model.Timeslots[^1].EventDateId</button>
                    </div>
                }
                <br />
            </div>
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <div class="row">
                    <div class="col-md-6">
                        <h3>@Model.Timeslots[0].EventDate.EventName</h3>
                        <h4 class="date-column">@Model.Timeslots[0].EventDate.Date</h4>
                        @foreach (var timeslot in Model.Timeslots)
                        {
                            if (timeslot.EventDateId == Model.Timeslots[0].EventDateId)
                            {
                                <div>
                                    <input type="checkbox" id="@timeslot.Id" name="SelectedEventIds1" value="@timeslot.Id">
                                    <input type="hidden" name="Timeslots[@timeslot.Id]" value="@timeslot.Id">
                                    <label class="time-column" for="@timeslot.Id">@timeslot.Time</label>
                                </div>
                            }
                        }
                    </div>
                    @if (Model.Timeslots[0].EventDateId != Model.Timeslots[^1].EventDateId)
                    {
                        <div class="col-md-6">
                            <h3>@Model.Timeslots[^1].EventDate.EventName</h3>
                            <h4 class="date-column">@Model.Timeslots[^1].EventDate.Date</h4>
                            @foreach (var timeslot in Model.Timeslots)
                            {
                                if (timeslot.EventDateId == Model.Timeslots[^1].EventDateId)
                                {
                                    <div>
                                        <input type="checkbox" id="@timeslot.Id" name="SelectedEventIds2" value="@timeslot.Id">
                                        <input type="hidden" name="Timeslots[@timeslot.Id]" value="@timeslot.Id">
                                        <label class="time-column" for="@timeslot.Id">@timeslot.Time</label>
                                    </div>
                                }
                            }
                        </div>
                    }

                </div>
                <div class="form-group">
                    <input type="submit" value="Sign Up!" class="btn btn-primary" />
                </div>
                @if (User.IsInRole(RolesConstants.AdminRole))
                {
                    <div>
                        <a asp-action="Index">Back to List</a>
                    </div>
                }
            </form>
        }
        else
        {
            <div class="alert alert-danger" role="alert">
                You've already signed up to volunteer for all available timeslots.
            </div>
        }

    </div>
    <div class="col-md-3"></div>
</div>




@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        // Attach a click event handler to the "Select All" buttons
        var selectAllButtons = document.querySelectorAll('.selectAllButton');
        selectAllButtons.forEach(function (button) {
            button.addEventListener("click", function () {
                var target = this.getAttribute("data-target"); // "list1" or "list2"
                
                var checkboxes = document.querySelectorAll('input[name="' + target + '"]');

                checkboxes.forEach(function (checkbox) {
                    checkbox.checked = !checkbox.checked;
                });
            });
        });
    </script>
}