@model sp2023_mis421_mockinterviews.Models.MockInterviewDb.VolunteerEvent

@{
    ViewData["Title"] = "Delete";
}

<h1>Cancel</h1>

<h3>Are you sure you want to cancel this?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Timeslot)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Timeslot.Time)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Timeslot.EventDate.Date)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Timeslot.EventDate.Date)
        </dd>

    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Cancel" class="btn btn-primary" /> |
        @Html.ActionLink("Return to Home",
                "Index",   // <-- ActionMethod
                "Home",  // <-- Controller Name.
                null, // <-- Route arguments.
                null  
                )
    </form>
</div>
