@model IEnumerable<sp2023_mis421_mockinterviews.Models.ViewModels.VolunteerEventViewModel>

@{
    ViewData["Title"] = "Volunteers";
}

<h1>Volunteers</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.VolunteerEvent.Timeslot)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VolunteerEvent.Timeslot.EventDate.Date)
            </th>
             <th>
                Student Name
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.VolunteerEvent.Timeslot.Time)
            </td>
                <td>
                    @Html.DisplayFor(modelItem => item.VolunteerEvent.Timeslot.EventDate.Date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StudentName)
                </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.VolunteerEvent.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.VolunteerEvent.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.VolunteerEvent.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
