@page
@model LoginModel

    @{
        ViewData["Title"] = "Log In";
    }

<h1 style="margin-top: 20px;">@ViewData["Title"]</h1>
<div class="row">
    <section>
        <div class="row d-flex justify-content-center col-12">
            <div class="col-4 border border-primary rounded m-20" style="margin-bottom: 20px">
                <div class="d-flex justify-content-center">
                    <h1 class="h3 my-3 font-weight-normal">For Students & Interviewers: </h1>
                </div>
                @{
                    if ((Model.ExternalLogins?.Count ?? 0) == 0)
                    {
                        <div>
                            <p>
                                There are no external authentication services configured.
                            </p>
                        </div>
                    }
                    else
                    {
                        <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                            <div>
                                <p>
                                    @foreach (var provider in Model.ExternalLogins!)
                                    {
                                        <div class="form-group" style="display: flex; justify-content: center;">
                                            <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">Sign in with @provider.DisplayName</button>
                                        </div>
                                    }
                                </p>
                            </div>
                        </form>
                    }
                }
            </div>
        </div>
    </section>
    <section>
        <div class="row d-flex justify-content-center col-12">
            <div class="col-4 border border-primary rounded m-20" style="margin-bottom: 20px">
                <form id="account" method="post" class="py-5" style="margin-bottom: -20px;">
                    <div class="d-flex justify-content-center">
                        <i class="icon-map-marker icon-4x text-success"></i>
                    </div>
                    <div class="d-flex justify-content-center">
                        <h1 class="h3 mb-3 font-weight-normal">For Admins: </h1>
                    </div>
                    <div class="form-group">
                        <input asp-for="Input.Email" class="form-control" placeholder="Email address" required autofocus />
                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                    </div>
                    <div class="form-group ">
                        <input asp-for="Input.Password" class="form-control" placeholder="Password" required />
                        <span asp-validation-for="Input.Password" class="text-danger"></span>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-md-3"></div>
                        <div class="col-md-6" style="margin-left: 15px;">
                        <div class="form-group d-flex justify-content-center">
                                <div class="checkbox">
                                    <label asp-for="Input.RememberMe">
                                        <input asp-for="Input.RememberMe" />
                                        @Html.DisplayNameFor(m => m.Input.RememberMe)
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3"></div>
                    </div>
                    <br />
                <div class="form-group" style="display: flex; justify-content: center;">
                    <button type="submit" class="btn btn-lg btn-primary btn-block">Sign In</button>
                </div>
                </form>
            @*<div class="col-12" mx-auto;">
                <p class="col-12" style="display: flex; justify-content: center;">
                    <a id="forgot-password" asp-page="./ForgotPassword">Forgot your password?</a>
                </p>
                <p class="col-12" style="display: flex; justify-content: center;">
                    <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Register as a new user</a>
                </p>
            </div>*@
            </div>
        </div>
    </section>
    
    
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
