@model sp2023_mis421_mockinterviews.Models.ViewModels.TimeslotsController.TimeslotDetailsViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Timeslot</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Timeslot.Time)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Timeslot.Time)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Timeslot.IsActive)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Timeslot.IsActive)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Timeslot.IsVolunteer)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Timeslot.IsVolunteer)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Timeslot.IsInterviewer)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Timeslot.IsInterviewer)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Timeslot.IsStudent)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Timeslot.IsStudent)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Timeslot.MaxSignUps)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Timeslot.MaxSignUps)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.VolunteerNames)
        </dt>
        @if(Model.VolunteerNames != null & Model.VolunteerNames.Count != 0)
        {
            <dd class="col-sm-10">
                @string.Join(", ", Model.VolunteerNames)
            </dd>
        }
        else
        {
            <dd class="col-sm-10">
                (No volunteers signed up yet)
            </dd>
        }
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.InterviewerNames)
        </dt>
        @if(Model.InterviewerNames !=  null && Model.InterviewerNames.Count != 0)
        {
            <dd class="col-sm-10">
                @string.Join(", ", Model.InterviewerNames)
            </dd>
        }
        else
        {
            <dd class="col-sm-10">
                (No interviewers signed up yet)
            </dd>
        }
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.StudentNames)
        </dt>
        @if(Model.StudentNames != null && Model.StudentNames.Count != 0)
        {
            <dd class="col-sm-10">
                @string.Join(", ", Model.StudentNames)
            </dd>
        }
        else
        {
            <dd class="col-sm-10">
                (No students signed up yet)
            </dd>
        }

    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Timeslot.Id">Edit</a> |
    <a asp-controller="Timeslots" asp-action="SignupReport">Back to List</a>
</div>
