@model sp2023_mis421_mockinterviews.Models.MockInterviewDb.Timeslot

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Timeslot</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Time)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Time)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsActive)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsActive)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsVolunteer)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsVolunteer)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsInterviewer)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsInterviewer)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsStudent)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsStudent)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MaxSignUps)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MaxSignUps)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-controller="Timeslots" asp-action="Index">Back to List</a>
</div>
