@model IEnumerable<sp2023_mis421_mockinterviews.Models.MockInterviewDb.Timeslot>

@{
    ViewData["Title"] = "Index";
}

<h1>Timeslots</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Time)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EventDate.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsActive)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsVolunteer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsInterviewer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsStudent)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Time)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EventDate.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsActive)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsVolunteer)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsInterviewer)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsStudent)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
