@model sp2023_mis421_mockinterviews.Models.ViewModels.TimeslotViewModel

@{
    ViewData["Title"] = "Timeslots";
}

<h1>Timeslots</h1>

<p>
    <a asp-action="Create">Create New</a>
    <br />
    <a asp-action="UpdateMaxTimeslots">Update Max Timeslot Signups</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th></th>
            <th>
                @Html.DisplayNameFor(model => model.Timeslots[0].Timeslot.Time)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Timeslots[0].Timeslot.EventDate.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Timeslots[0].Timeslot.MaxSignUps)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Timeslots) 
{
        <tr>
            <td style="color:white;">
                @Html.DisplayFor(modelItem => item.Timeslot.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Timeslot.Time)
            </td>
            <td class="date-column">
                @Html.DisplayFor(modelItem => item.Timeslot.EventDate.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Timeslot.MaxSignUps)
            </td>
            <td>
            
                <a asp-action="Details" asp-route-id="@item.Timeslot.Id">Details</a> @*|
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>*@
                @if (item.Timeslot.Time.Minute == 0)
                {
                    <a> | </a>
                    <a asp-action="Edit" asp-route-id="@item.Timeslot.Id">Edit</a>
                }
            </td>
        </tr>
}
    </tbody>
</table>