@using sp2023_mis421_mockinterviews.Data;
@using sp2023_mis421_mockinterviews.Data.Constants;
@model IEnumerable<sp2023_mis421_mockinterviews.Models.ViewModels.MassAssignRolesViewModel>;

@{
    ViewData["Title"] = "Create";
}

<h1>Add Admin Roles</h1>

<hr />
<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">

        <form id="massAssignForm" asp-action="MassAssigAdmin" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @foreach (var item in Model)
            {
                <div>
                    <input type="checkbox" id="@item.Email" name="SelectedEventIds1" value="@item.Email" data-val="true" data-val-required="Please select at least one person.">
                    <input type="hidden" name="@item.Name" value="@item.Email">
                    <label for="@item.Email">@item.Name</label>
                </div>
            }
            <button type="submit" class="btn btn-primary">Save Changes</button>
        </form>

    </div>
    <div class="col-md-2"></div>
</div>




@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

}