@using sp2023_mis421_mockinterviews.Models.MockInterviewDb

@model IEnumerable<Question>

@{
    ViewData["Title"] = "Question";
}

<h1>Manage FAQs</h1>

<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
        <div id="center-everything">
            <hr />
            <br />
            <h3>Administrative Actions</h3>
            
            <div>
                <a asp-action="Create" class="btn btn-secondary">Create New</a>
            </div>
            <br />
        </div>
        <div>
            <div id="center-everything">
                <hr />
                <br />
                <h3>FAQs List</h3>
            </div>
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Q)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.A)
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                @foreach (var item in Model) {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Q)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.A)
                        </td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                            <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                            <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                        </td>
                    </tr>
                }
                </tbody>
            </table>
        </div>
    </div>
    <div class="col-md-1"></div>
</div>
