@using sp2023_mis421_mockinterviews.Models.MockInterviewDb

@model IEnumerable<Question>

@{
    ViewData["Title"] = "Question";
}

<h1>Manage FAQs</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Q)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.A)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Q)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.A)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
