@model IEnumerable<sp2023_mis421_mockinterviews.Models.ViewModels.InterviewEventViewModel>

@{
    ViewData["Title"] = "AssessFeedback";
}


<h1>Interview Feedback</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.StudentName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InterviewerName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InterviewEvent.InterviewType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InterviewEvent.InterviewerRating)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InterviewEvent.InterviewerFeedback)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InterviewEvent.ProcessFeedback)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            if (item.InterviewEvent.InterviewerRating != null)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.StudentName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.InterviewerName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.InterviewEvent.InterviewType)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.InterviewEvent.InterviewerRating)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.InterviewEvent.InterviewerFeedback)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.InterviewEvent.ProcessFeedback)
                    </td>
                    <td>
                        <a asp-action="Details" asp-route-id="@item.InterviewEvent.Id">Details</a>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>