@model sp2023_mis421_mockinterviews.Models.ViewModels.AttendanceReportViewModel

@{
    ViewData["Title"] = "AttendanceReport";
}

<h1>Attendance Report</h1>
<hr />
@foreach(var item in Model.ClassReports)
{
    <h3>@item.ClassName: @item.StudentCount</h3>
}
<hr />
@foreach (var item in Model.SummaryStats)
{
    if(item.ClassName != "Total")
    {
        <h3>@item.ClassName: @item.StudentCount%</h3>
    }
    else
    {
        <h3>@item.ClassName: @item.StudentCount</h3>
    }
}