@using sp2023_mis421_mockinterviews.Data.Constants;
@model sp2023_mis421_mockinterviews.Models.ViewModels.InterviewEventSignupViewModel

@{
    ViewData["Title"] = "Create";
}

<h1>Sign up for an Interview!</h1>

<hr />
<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8" id="center-everything">
        @if (Model.ApplicationUser.Class == Classes.NotEnrolled || Model.ApplicationUser.Resume == null)
        {
            if(Model.ApplicationUser.Class == 0 && Model.ApplicationUser.Resume == null)
            {
                <div class="alert alert-danger" role="alert">
                    You must specify which class you are in and upload a resume before you can sign up for an interview.
                    Go to your profile, select your class, upload your resume, save your profile, and then come back here.
                </div>
            }
            else if(Model.ApplicationUser.Class == Classes.NotEnrolled)
            {
                <div class="alert alert-danger" role="alert">
                    You must specify which class you are in before you can sign up for an interview.
                    Go to your profile, select your class, save your profile, and then come back here.
                </div>
            }
            else if(Model.ApplicationUser.Resume == null)
            {
                <div class="alert alert-danger" role="alert">
                    You must upload a resume before you can sign up for an interview.
                    Go to your profile, upload your resume, save your profile, and then come back here.
                </div>
            }
        }
        else if (Model.SignedUp)
        {
            <div class="alert alert-danger" role="alert" style="text-align:center;">
                You have already signed up for an interview.
            </div>
        }
        @*else if((!Model.For221 && Model.ApplicationUser.Class == ClassConstants.FirstSemester) || (Model.For221 && Model.ApplicationUser.Class != ClassConstants.FirstSemester))
        {
            <div class="alert alert-danger" role="alert">
                Your class (@Model.ApplicationUser.Class) does not match the class for which this event is intended. Please sign up for the event that is intended for your class.
            </div>
        }*@
        else if(Model.Timeslots.Count > 0)
        {
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="row" id="center-everything">
                    <div class="col-md-6">
                        <h3>@Model.Timeslots[0].Event.Name</h3>
                        <h4 class="date-column">@Model.Timeslots[0].Event.Date</h4>
                        @foreach (var timeslot in Model.Timeslots)
                        {
                            if (timeslot.EventId == Model.Timeslots[0].EventId)
                            {
                                <div>
                                    <input type="radio" id="@timeslot.Id" name="SelectedEventIds" value="@timeslot.Id">
                                    <label class="time-column" for="@timeslot.Id">@timeslot.Time</label>
                                </div>
                            }
                        }
                    </div>
                    @if (Model.Timeslots[0].EventId != Model.Timeslots[^1].EventId)
                    {
                        <div class="col-md-6">
                            <h3>@Model.Timeslots[^1].Event.Name</h3>
                            <h4 class="date-column">@Model.Timeslots[^1].Event.Date</h4>
                            @foreach (var timeslot in Model.Timeslots)
                            {
                                if (timeslot.EventId == Model.Timeslots[^1].EventId)
                                {
                                    <div>
                                        <input type="radio" id="@timeslot.Id" name="SelectedEventIds" value="@timeslot.Id">
                                        <label class="time-column" for="@timeslot.Id">@timeslot.Time</label>
                                    </div>
                                }
                            }
                        </div>
                    }
                </div>
                <div class="form-group" id="center-everything">
                    <input type="hidden" name="SelectedEventIds" id="SelectedEventIds">
                    <input type="submit" value="Sign Up!" class="btn btn-primary" />
                </div>
            </form>

        }
        else
        {
            <div class="alert alert-danger" role="alert" style="text-align:center;">
                We're sorry, but all available timeslots are currently booked. We are actively in the process of adding more interviewers to expand our availability. Please come back later for updated timeslot options.
            </div>
        }

    </div>
    <div class="col-md-2"></div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
