@model sp2023_mis421_mockinterviews.Models.ViewModels.InterviewEventSignupViewModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Sign up for an Interview!</h4>
<hr />
<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        @if(Model.ApplicationUser.Resume == null)
        {
            <div class="alert alert-danger" role="alert">
                You must upload a resume before you can sign up for an interview.
                Go to your profile, upload your resume, save your profile, and then come back here.
            </div>
        }
        else if (Model.ApplicationUser.Class == null)
        {
            <div class="alert alert-danger" role="alert">
                You must specify which class you are in before you can sign up for an interview.
                Go to your profile, select your class, save your profile, and then come back here.
            </div>
        }
        else if (Model.SignedUp)
        {
            <div class="alert alert-danger" role="alert">
                You have already signed up for an interview.
            </div>
            
        }
        else
        {
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="row">
                    <div class="col-md-6">
                        <h3>Day @Model.Timeslots[0].EventDateId</h3>
                        <h4>@Model.Timeslots[0].EventDate.Date</h4>
                        @foreach (var timeslot in Model.Timeslots)
                        {
                            if (timeslot.EventDateId == Model.Timeslots[0].EventDateId)
                            {
                                <div>
                                    <input type="radio" id="@timeslot.Id" name="SelectedEventIds" value="@timeslot.Id">
                                    <label for="@timeslot.Id">@timeslot.Time</label>
                                </div>
                            }
                        }
                    </div>
                    <div class="col-md-6">
                        <h3>Day @Model.Timeslots[^1].EventDateId</h3>
                        <h4>@Model.Timeslots[^1].EventDate.Date</h4>
                        @foreach (var timeslot in Model.Timeslots)
                        {
                            if (timeslot.EventDateId == Model.Timeslots[^1].EventDateId)
                            {
                                <div>
                                    <input type="radio" id="@timeslot.Id" name="SelectedEventIds" value="@timeslot.Id">
                                    <label for="@timeslot.Id">@timeslot.Time</label>
                                </div>
                            }
                        }
                    </div>
                </div>
                <div class="form-group">
                    <input type="hidden" name="SelectedEventIds" id="SelectedEventIds">
                    <input type="submit" value="Sign Up!" class="btn btn-primary" />
                </div>
            </form>

        }
        
    </div>
    <div class="col-md-3"></div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
