@model sp2023_mis421_mockinterviews.Models.ViewModels.InterviewEventViewModel

@{
    ViewData["Title"] = "Details";
}

@*<h1>Details</h1>
*@

<div style="display: flex; justify-content: center;">
    <h2>Interview Details</h2>
</div>

<div>
@*    <h4>InterviewEvent</h4>
    <hr />*@
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.StudentName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.StudentName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InterviewerName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InterviewerName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InterviewEvent.Timeslot.Event.Date)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InterviewEvent.Timeslot.Event.Date)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.InterviewEvent.Timeslot.Time)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.InterviewEvent.Timeslot.Time)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InterviewEvent.Type)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InterviewEvent.Type)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.InterviewEvent.Location)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.InterviewEvent.Location.Room)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InterviewEvent.Status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InterviewEvent.Status)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InterviewEvent.InterviewerRating)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InterviewEvent.InterviewerRating)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InterviewEvent.InterviewerFeedback)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InterviewEvent.InterviewerFeedback)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InterviewEvent.ProcessFeedback)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InterviewEvent.ProcessFeedback)
        </dd>
    </dl>
</div>
<div style="display: flex; justify-content: center;">
@*    <a asp-action="Edit" asp-route-id="@Model?InterviewEvent.Id">Edit</a> |
*@    <a class="btn btn-outline-primary"asp-action="Index">Back to List</a>
</div>
