@model sp2023_mis421_mockinterviews.Models.ViewModels.IndexViewModel

@{
    ViewBag.Title = "FeedbackIndex";
}

<h1>Feedback Portal</h1>

<h4 id="center-everything">Tell us about how your interview went.</h4>
<hr />
@if(Model.StudentScheduledInterviews.Count() <= 1)
{
    <div class="alert alert-danger" role="alert" id="center-everything">
        You must have completed both interviews to be able to provide feedback.
    </div>
}
else
{
    <table class="table" id="center-everything">
        <thead>
            <tr>
                <th>Date</th>
                <th>Time</th>
                <th>Interviewer</th>
                <th>Focus</th>
                <th>Rating</th>
                <th>Interviewer Feedback</th>
                <th>Process Feedback</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var interviewEventViewModel in Model.StudentScheduledInterviews)
            {
                <tr>
                    <td>@interviewEventViewModel.InterviewEvent.Timeslot.EventDate.Date</td>
                    <td>@interviewEventViewModel.InterviewEvent.Timeslot.Time</td>
                    <td>@interviewEventViewModel.InterviewerName</td>
                    <td>@interviewEventViewModel.InterviewEvent.InterviewType</td>
                    @if(interviewEventViewModel.InterviewEvent.InterviewerRating == null)
                    {
                        <td>Not Yet Rated</td>
                    }
                    else
                    {
                        <td>@interviewEventViewModel.InterviewEvent.InterviewerRating</td>
                    }
                    @if(interviewEventViewModel.InterviewEvent.InterviewerFeedback == null)
                    {
                        <td>None Given</td>
                    }
                    else
                    {
                        <td>@interviewEventViewModel.InterviewEvent.InterviewerFeedback</td>
                    }
                    @if(interviewEventViewModel.InterviewEvent.ProcessFeedback == null)
                    {
                        <td>None Given</td>
                    }
                    else
                    {
                        <td>@interviewEventViewModel.InterviewEvent.ProcessFeedback</td>
                    }
                    @*<td>
                        <a asp-controller="InterviewEvents" asp-action="ProvideFeedback" asp-route-id="@interviewEventViewModel.InterviewEvent.Id">Submit Feedback</a>
                    </td>*@
                </tr>
            }
        </tbody>
    </table>
}