@using sp2023_mis421_mockinterviews.Data.Constants
@model IEnumerable<sp2023_mis421_mockinterviews.Models.ViewModels.InterviewEventViewModel>

@{
    ViewData["Title"] = "Completed Interviews";
}

<h1>Completed Interviews</h1>
<hr/>
<table class="table">
    <thead>
        <tr>
            <th></th>
            <th>Student</th>
            <th>Status</th>
            <th>Scheduled Start</th>
            <th>Date</th>
            <th>Interview Type</th>
            <th></th>
        </tr>
    </thead>
    <tbody id="upcoming">
        @foreach (var item in Model)
        {
            if (item.InterviewEvent.Status != StatusConstants.Ongoing && item.InterviewEvent.Status != StatusConstants.CheckedIn)
            {
                <tr id="@item.InterviewEvent.Id">
                    <td style="color:white;">@Html.DisplayFor(modelItem => item.InterviewEvent.TimeslotId)</td>
                    <td>@Html.DisplayFor(modelItem => item.StudentName)</td>
                    <td>@Html.DisplayFor(modelItem => item.InterviewEvent.Status)</td>
                    <td>@Html.DisplayFor(modelItem => item.InterviewEvent.Timeslot.Time)</td>
                    <td>@Html.DisplayFor(modelItem => item.InterviewEvent.Timeslot.EventDate.Date)</td>
                    <td>@Html.DisplayFor(modelItem => item.InterviewEvent.InterviewType)</td>
                    <td>
                        <a asp-action="Override" asp-route-id="@item.InterviewEvent.Id">Override</a>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>