@using sp2023_mis421_mockinterviews.Data.Constants
@model sp2023_mis421_mockinterviews.Models.ViewModels.InterviewEventIndexViewModel

@{
    ViewData["Title"] = "Index";
}

<h1>Assign Interviews</h1>

@*<p>
    <a asp-action="Create">Create New</a>
</p>*@

<div id="center-everything">
    @if (User.Identity.IsAuthenticated && User.IsInRole(RolesConstants.AdminRole))
    {
        <a asp-area="" asp-controller="Home" asp-action="EmailStudents">Send Students Email Reminder</a>
        <br />
        <a asp-area="" asp-controller="Home" asp-action="EmailInterviewers">Send Interviewers Email Reminder</a>
    }
</div>

<hr />
<h4>Available Interviewers</h4>
<br />
@if(Model.AvailableInterviewers.Count > 0)
{
    foreach (var interviewer in Model.AvailableInterviewers)
    {
        <ul><strong><u>@interviewer.Name</u></strong> is available to do <strong><u>@interviewer.InterviewType</u></strong> interviews in room <strong><u>@interviewer.Room</u></strong>.</ul>
    }
}
else
{
    <ul>No Interviewers Available.</ul>
}

<hr />
<h4 id="testing">Upcoming Students</h4>
<table class="table">
    <thead>
        <tr>
            <th> 
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Interviews[0].StudentName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Interviews[0].InterviewEvent.Timeslot.Time)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Interviews[0].InterviewEvent.Timeslot.EventDate.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Interviews[0].InterviewEvent.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Interviews[0].InterviewEvent.InterviewType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Interviews[0].InterviewerName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Interviews[0].InterviewEvent.Location)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Interviews) {
        <tr id="@item.InterviewEvent.Id">
            <td style="color:white;">
                @Html.DisplayFor(modelItem => item.InterviewEvent.TimeslotId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StudentName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InterviewEvent.Timeslot.Time)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InterviewEvent.Timeslot.EventDate.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InterviewEvent.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InterviewEvent.InterviewType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InterviewerName)
            </td>
            @if(item.InterviewEvent.Location == null)
            {
                <td>Not Assigned</td>    
            }
            else
            {
                <td>
                    @Html.DisplayFor(modelItem => item.InterviewEvent.Location.Room)
                </td>
            }
                
            <td>
                <a asp-action="Edit" asp-route-id="@item.InterviewEvent.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.InterviewEvent.Id">Details</a> |
                <a asp-action="Override" asp-route-id="@item.InterviewEvent.Id">Override</a> |
                <a asp-action="Delete" asp-route-id="@item.InterviewEvent.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>

<script src="https://cdn.jsdelivr.net/npm/@@microsoft/signalr@8.0.0/dist/browser/signalr.min.js"></script>
<script>
    var connection = new signalR.HubConnectionBuilder()
        .withUrl("/interviewHub")
        .build();

    connection.start().catch(function (err)
    {
        return console.error(err.toString());
    });

    connection.on("ReceiveInterviewEventUpdate",function(interviewEvent, studentname, interviewername, time, date)
    {
        var row = document.getElementById(interviewEvent.id);
        if(studentname === 'delete')
        {
            row.remove();
        }
        else
        {
            //console.log(interviewEvent, interviewEvent.id, interviewEvent.status, studentname, interviewername, time, date);
            if (row) {
                try {
                    row.innerHTML = "<td style='color:white;' class='sorting_1'>" + interviewEvent.timeslotId + "</td>" +
                        "<td>" + studentname + "</td>" +
                        "<td>" + time + "</td>" +
                        "<td>" + date + "</td>" +
                        "<td>" + interviewEvent.status + "</td>" +
                        "<td>" + interviewEvent.interviewType + "</td>" +
                        "<td>" + interviewername + "</td>" +
                        "<td>" + interviewEvent.location.room + "</td>" +
                        "<td>" +
                        "<a asp-action='Edit' asp-route-id='" + interviewEvent.id + "' style='color:#9E1B32'>Edit</a> |" +
                        "<a asp-action='Details' asp-route-id='" + interviewEvent.id + "' style='color:#9E1B32'> Details</a> |" +
                        "<a asp-action='Override' asp-route-id='" + interviewEvent.id + "' style='color:#9E1B32'> Override</a> |" +
                        "<a asp-action='Delete' asp-route-id='" + interviewEvent.id + "' style='color:#9E1B32'> Delete</a>" +
                        "</td>";
                }
                catch
                {
                    throw new Error('there was an error');
                }
            }
        }
    })
</script>