@model sp2023_mis421_mockinterviews.Models.ViewModels.ReportsController.EventStatisticsViewModel

@{
    ViewData["Title"] = "Event Statistics";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Event Statistics</h1>
<hr />

<div>
    <h3>
        Total Students signed up: @Model.TotalStudents
    </h3>
    <h3>
        Total Interviewers signed up: @Model.TotalInterviewers
    </h3>
    <h3>
        Total Volunteers signed up: @Model.TotalVolunteers
    </h3>
</div>
<p></p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.EventStatistics[0].EventDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EventStatistics[0].StudentCount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EventStatistics[0].InterviewerCount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EventStatistics[0].VolunteerCount)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.EventStatistics)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.EventDate.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StudentCount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.InterviewerCount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.VolunteerCount)
                </td>
            </tr>
        }
    </tbody>
</table>