@model sp2023_mis421_mockinterviews.Models.ViewModels.TimeslotsController.TimeslotViewModel

@{
    ViewData["Title"] = "Signup Report";
}

<h1>Signup Report</h1>

<p>
    <a asp-action="Create">Create New</a>
    <br />
    <a asp-action="UpdateMaxTimeslots">Update Max Timeslot Signups</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th></th>
            <th>
                @Html.DisplayNameFor(model => model.Timeslots[0].Timeslot.Time)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Timeslots[0].Timeslot.Event.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Timeslots[0].StudentCount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Timeslots[0].InterviewerCount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Timeslots[0].VolunteerCount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Timeslots[0].Timeslot.MaxSignUps)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Timeslots)
        {
            <tr>
                <td style="color:white;">@Html.DisplayFor(modelItem => item.Timeslot.Id)</td>
                <td>
                    @Html.DisplayFor(modelItem => item.Timeslot.Time)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Timeslot.Event.Date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StudentCount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.InterviewerCount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.VolunteerCount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Timeslot.MaxSignUps)
                </td>
                <td>
                    @* @if (item.Timeslot.Time.Minute != 0)
                    {
                        <a href="#" style="color:#999;pointer-events:none;text-decoration:none;">Edit</a>
                        <a> | </a>
                    }
                    else
                    {
                        <a asp-area="" asp-controller="Timeslots" asp-action="Edit" asp-route-id="@item.Timeslot.Id">Edit</a>
                        <a> | </a>
                    } *@
                    <a asp-area="" asp-controller="Timeslots" asp-action="Details" asp-route-id="@item.Timeslot.Id">Details</a>
                </td>
            </tr>
        }
    </tbody>
</table>